@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "First Page";
}

@section footer{
    &copy; CPSC 1517 NAIT all rights are reserved
}

@section banner{
<h1>Default Content Page</h1>
    }
<p>Hello World</p>
<hr style="line-height:5px" />

